<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key ="DataConnection" value="PmsModel"/>
  </appSettings>
  <connectionStrings>
    <add name="PmsModel" connectionString="Data Source=WIN-2012\MSSQL14;Initial Catalog=PMS;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>

    <services>
      <service name="DataAccess.Services.ClinicManager">
        
        <!--<endpoint address="net.tcp://localhost:8090/ClinickManager" binding="netTcpBinding" 
                  contract="DataAccess.Contracts.IPatientService"  />-->
        <!--<endpoint address="net.tcp://localhost:8090/MEX" binding="mexTcpBinding" contract="IMetadataExchange" />-->
        <!--<endpoint address="net.tcp://localhost:8090/ClinickManager" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBroadcastorService"
                  contract="DataAccess.Contracts.IBroadcastorService" name ="NetTcpBinding_IBroadcastorService" />-->
        <!--<endpoint address="http://localhost/PatientService"
                binding ="basicHttpBinding"
                contract="DataAccess.Contracts.IPatientService">
        </endpoint>-->
        <endpoint address="http://localhost/BroadcastorService"
                 binding ="wsDualHttpBinding" bindingConfiguration="wsDualHttpBindingConfig"
                 contract="DataAccess.Contracts.IBroadcastorService">
        </endpoint>

        <endpoint address="http://localhost/PatientService"
                 binding ="wsDualHttpBinding" bindingConfiguration="wsDualHttpBindingConfig"
                 contract="DataAccess.Contracts.IPatientService">
        </endpoint>
      </service>
      <!--<service name="DataAccess.WindowsHost.Services.MessageManager">
        <endpoint address="net.tcp://localhost:8070/MessageService"
                  binding="netTcpBinding"
                  contract="DataAccess.WindowsHost.Contracts.IMessageService" >
        </endpoint>
      </service>-->
    </services>
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:10:00" maxReceivedMessageSize="2000000" receiveTimeout="00:20:00">
          <reliableSession enabled="true" inactivityTimeout="00:20:00" ordered="true"/>
        </binding>
        <binding name="NetTcpBinding_IBroadcastorService" />
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBindingConfig" transactionFlow="true">
          <security mode="Message"></security>
          
        </binding>
      </wsDualHttpBinding>
      <!--<wsHttpBinding>
        <binding name="wsHttpBindingConfig" transactionFlow="true" >
          <security mode="Transport">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </wsHttpBinding>-->
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="116" maxConcurrentSessions="100"/>
          <!--<serviceMetadata httpGetEnabled="true"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>